body {
    background-color: lightgray;

    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* TELEVISION */

#television {
    height: 100vh;
    width: auto;

    margin: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tv-border {
    background-color: rgb(31, 31, 31);
    height: 30em;
    width: 51.5em;

    border-radius: 0.5em;
    border-style: solid;
    border-color: black;
    border-width: 0.2em;

    display: flex;
    align-items: start;
    justify-content: center;
}

#tv-screen {
    background-color: rgb(54, 54, 54);
    height: 27em;
    width: 49em;

    margin-top: 1em;

    border-radius: 0.5em;
    position: relative;
}

.off{
    img {
        display: none;
    }
}

.on{
    #ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8, #ch9 {
        display: none;
    }
    #static {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch1 {
    #static, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8, #ch9 {
        display: none;
    }
    #ch1 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch2 {
    #static, #ch1, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8, #ch9 {
        display: none;
    }
    #ch2 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch3 {
    #static, #ch1, #ch2, #ch4, #ch5, #ch6, #ch7, #ch8, #ch9 {
        display: none;
    }

    #ch3 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch4 {
    #static, #ch1, #ch2, #ch3, #ch5, #ch6, #ch7, #ch8, #ch9 {
        display: none;
    }

    #ch4 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch5 {
    #static, #ch1, #ch2, #ch3, #ch4, #ch6, #ch7, #ch8, #ch9 {
        display: none;
    }

    #ch5 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch6 {
    #static, #ch1, #ch2, #ch3, #ch4, #ch5, #ch7, #ch8, #ch9 {
        display: none;
    }

    #ch6 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch7 {
    #static, #ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch8, #ch9 {
        display: none;
    }

    #ch7 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch8 {
    #static, #ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch9 {
        display: none;
    }

    #ch8 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch9 {
    #static, #ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8 {
        display: none;
    }

    #ch9 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.info-off {
    display: none;
}

.info-on {
    display: flex;
    justify-content: space-between;
    color: white;
    position: absolute;
    width: 99%;
    top: 0;
    font-size: 1.5em;
    font-weight: bolder;
    text-shadow: -0.04em -0.04em 0 rgb(0, 0, 0), 0.04em -0.04em 0 rgb(0, 0, 0), -0.04em 0.04em 0 rgb(0, 0, 0), 0.04em 0.04em 0 rgb(0, 0, 0);
}

#date, #chanel-name {
    padding-top: 0.2em;
    padding-left: 1.5%;
}

#foot-vertical {
    background-color: black;
    height: 4.7em;
    width: 2.1em;
}

#foot-horizontal {
    background-color: black;
    height: 1.3em;
    width: 17em;
}

/* REMOTE CONTROL */

#remote {
    background-color: rgb(31, 31, 31);
    height: 21em;
    width: 8.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(31, 31, 31);
    height: 21em;
    width: 8.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#on-off {
    height: 4em;
    width: 8.5em;

    display: flex;
}

#on-off-button {
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#red-circle {
    background-color: rgb(209, 12, 12);
    height: 1.6em;
    width: 1.6em;
    border-radius: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#red-circle:active {
    background-color: rgb(235, 50, 50);
    #white-stripe {
        border-color: rgb(235, 50, 50);
    }
}

#white-stripe {
    background-color: white;
    height: 0.8em;
    width: 0.1em;

    position: absolute;
    margin-top: -0.4em;

    border-color: rgb(209, 12, 12);
    border-style: solid;
    border-radius: 1em;
}

#white-circle {
    border-color: white;
    border-style: solid;
    border-width: 0.1em;
    height: 1.1em;
    width: 1.1em;
    border-radius: 1em;
    box-sizing: border-box;
}

#info-button {
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#info-circle {
    background-color: rgb(41, 41, 41);
    height: 1.6em;
    width: 1.6em;

    border-radius: 1em;
    border-width: 0.2em;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    }

    #info-circle:active {
        background-color: rgb(51, 51, 51);
    }

    #info-icon {
        color: grey;
        font-size: 1em;
        font-weight: bold;

        margin-top: 0.2em;
        margin-left: 0.04em;
    }

#vol-ch {
    height: 7.5em;
    width: 8.5em;
    padding-top: 0.2em;
    display: flex;
}

#volume, #channel {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-up {
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-bottom: 1.5em solid rgb(58, 58, 58);
}

#vol-text, #ch-text {
    color: grey;
    padding-top: 0.2em;
}

.button-down {
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-top: 1.5em solid rgb(58, 58, 58);
}

#channel-numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;

    height: 8.5em;
    width: 7.5em;
}

.number-button {
    background-color: rgb(41, 41, 41);
    height: 1.6em;
    width: 1.6em;

    border-radius: 1em;
    border-width: 0.2em;
    border-style: solid;
    border-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1em;
    font-weight: bold;
    color: grey;

    cursor: pointer;
}

.number-button:active {
    background-color: rgb(51, 51, 51);
}